.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(#ffbb00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 1.125rem;
  line-height: 1.33;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-width: max-content;
}

.botao.secundario {
  background: linear-gradient(var(--cor-9), var(--cor-10));
  color: var(--cor-2);
}

.botao.secundario:hover {
  background: linear-gradient(var(--cor-9), var(--cor-9));
  color: var(--cor-0);
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.botao.seta::after {
  display: flex;
  align-items: center;
}

.botao.seta::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-left: 12px;
  background: url(../../img/icones/Seta.svg);
  transition: transform .2s;
}

.botao.seta:hover::after {
  transform: translateX(4px);
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

/* Titulo interno */
.titulo-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--cor-11);
  text-transform: lowercase;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
